{% include 'EMedix_App/base.html' %}
<body>

    <nav id="topNav" class="navbar navbar-toggleable-sm navbar-inverse  navbar_accountdetails">
       
   
        <a class="navbar-brand mx-auto" href="#"><img src="static/images/logo.png" height="60"></a>
      
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="card account-detailsCard">
                <div class="card-header account-detailsheader">
                    Account Details
                </div>
                <div class="card-body">
                    <form id="accountdetailsform_Clinic" method="POST">{% csrf_token %}
                   <div class="row account-detailsRow">
                    <div class="col-lg-6">
                        <label for="clinic_name">Clinic Name</label>
                        <input type="text" id="clinic_name" name="clinic_name" required placeholder="Enter your Clinic Name"/>
                    </div>
                    <div class="col-lg-6">
                        <label for="poc_name">POC name</label>
                        <input type="text" id="poc_name" name="poc_name" required placeholder="Enter your POC Name"/>

                    </div>


                   </div>
                   <div class="row account-detailsRow">
                    <div class="col-lg-6">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" required placeholder="Enter your Email Address"/>
                    </div>
                    <div class="col-lg-6">
                        <label for="pnumber">Contact Number</label>
                        <input type="tel" id="pnumber" name="pnumber" required placeholder="Enter your Contact Number" onkeypress="return isNumberKey(event)"   oninput="process(event)"/>
                        <div class="alert-error error-message" style="display: none"></div>
                    </div>


                   </div>
             
                   <div class="row account-detailsRow">
                    <div class="col-lg-6">
                        <label for="registration_number">Registration Number</label>
                        <input type="text" id="registration_number" name="registration_number" required placeholder="Enter your Registration Number"/>
                    </div>
                    <div class="col-lg-6">
                        <label for="country">Country</label>
                        <input   id="country" name="country" type="text">

                    </div>


                   </div>
                   <div class="row account-detailsRow">
                    <div class="col-lg-6">
                        <label for="state">State/District</label>
                        <input type="text" id="state" name="state" required placeholder="Enter your State/District"/>
                    </div>
                    <div class="col-lg-6">
                        <label for="city">City</label>
                        <input type="text" id="city" name="city" required placeholder="Enter your City Name"/>

                    </div>


                   </div>
                   <div class="row account-detailsRow">
                    <div class="col-lg-12">
                        <label for="address">Address</label>
                       
                        <input type="text" id="address" name="address" required placeholder="Enter your Address" class="address_field"/>
                    </div>
                   

                   </div>
                   <div class="row account-detailsRow">
                    <div class="col-lg-12">
                       
                       
                        <input type="submit" id="account-detailsSubmit" name="account-detailsSubmit" placeholder="Save" class="btn btn-custom"/>
                    </div>
                   

                   </div>
                </form>
                </div>
            </div></div>

            
        </div>
    </div>

</body>
<script>
    $("#country").countrySelect({
        defaultCountry:"pk",
        responsiveDropdown:true
    });

    function getIp(callback) {
 fetch('https://ipinfo.io/json?token=1d9942cabc5627', { headers: { 'Accept': 'application/json' }})
   .then((resp) => resp.json())
   .catch(() => {
     return {
       country: 'us',
     };
   })
   .then((resp) => callback(resp.country));
}
   const phoneInputField = document.querySelector("#pnumber");
   const phoneInput = window.intlTelInput(phoneInputField, {
 initialCountry: "auto",
 geoIpLookup: getIp,
 utilsScript:
   "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
});

const info = document.querySelector(".alert-info");
const error = document.querySelector(".alert-error");

function process(event) {
 event.preventDefault();

 const phoneNumber = phoneInput.getNumber();
 if (!(phoneInput.isValidNumber())) {
    error.style.display = "";
   error.innerHTML = `* Invalid phone number.`; } 
   else{
    error.style.display= "none";
}
if(phoneNumber == ''){
    error.style.display = "none";
}
}
function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if ((charCode < 48 || charCode > 57))
        return false;

    return true;
}

/*if (!(phoneInput.isValidNumber())) {
   info.style.display = "";
   info.innerHTML = `Phone number in E.164 format: <strong>${phoneNumber}</strong>`;
 } else {
   error.style.display = "";
   error.innerHTML = `Invalid phone number.`;
 }
}*/
    </script>

</html>