{% include 'EMedix_App/base.html' %}
<body>

    <nav id="topNav" class="navbar navbar-toggleable-sm navbar-inverse  navbar_accountdetails">
       
   
        <a class="navbar-brand mx-auto" href="#"><img src="static/images/logo.png" height="60"></a>
      
    </nav>
<div class="container">
<div class="card">
    <div class="card-header text-center text-primary text-uppercase">
      <h1>  Payment Status</h1>
    </div>
    <div class="card-body">

        <div class="alert alert-danger">
            
         <div class="logo text-center">  <i class="fas fa-times-circle"></i> </div>
        <div class="payment-content">
            <h3>Your Payment was unsuccessful.</h3>
            <h6 class="text-gray">There was an issue with your payment please try again.</h6>
        </div>
        
        </div>
    
    </div>
</div>
</div>
</html>